{{ extends 'global/elements/Template.html' }}
{{ block title }}Ordering Decision {{player.role()}}{{ endblock }}


{{ block box-1}}
    <body>
        <h4> Round {{player.round_number}}</h4>
    </body>
{{endblock}}

{{ block box-2 }}
  
    {{ include '_templates/global/elements/PastOrderData.html'}}
{{ endblock }}


{{block box-3}}
    <body>
 

        {{formfield 'order_t'}}
    </body>
{{endblock}}

{{block box-4}}


    {{if player.treatment == 2}}
        {{ include '_templates/global/elements/StaticDSS.html' }}
    {{endif}}  
    {{if player.treatment == 3}}
        {{ include '_templates/global/elements/Chatbot.html' }}
    {{endif}} 

{{endblock}}


{{block box-5}}
    {{ next_button }}
{{endblock}}
