#chatbot .chat-container {
    height: 100%;
    width: 350px;
    display: none;
    flex-direction: column;
    border: 1.5px solid #e0e0e0;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(44,62,80,0.08);
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 100000 !important;
}

#chatbot .chat-messages {
    overflow-y: scroll;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 8px;
    height: 300px;
}

#chatbot .chatbotMessage { margin-bottom: 6px; }

#chatbot .chatbotResponse {
    background-color: #e7f4fd;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: left;
}

#chatbot .userInput, #chatbot .user-input-message {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: right;
    flex-grow: 1;
    margin-right: 10px;
}

#chatbot .send-button, #chatbot #chatbot-button {
    margin: 10px;
    padding: 7px 14px;
    border-radius: 6px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
#chatbot .send-button:hover, #chatbot #chatbot-button:hover {
    background-color: #217dbb;
}

#chatbot .input-container {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 52px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
